<nav class="nav">
  <a class="brand" routerLink="/">
    <img src="assets/ui/logo.svg" alt="" width="28" height="28" />
    Lemonade Tycoon
  </a>

  <div class="right">
    <app-help-panel />
    @if (username(); as name) {
      <div class="user">
        <a class="btn btn-ghost scores-link" routerLink="/scores">Scores</a>
        <app-icon name="user" />
        <span class="name">{{ name }}</span>
        <button type="button" class="btn btn-ghost log-out" (click)="logOut.emit()">
          <app-icon name="log-out" [size]="14" />
          Log out
        </button>
      </div>
    } @else {
      <a class="btn" routerLink="/signin">Sign in</a>
    }
  </div>
</nav>
